<div style="text-align: right">{{postCreated | date: 'short'}}</div>
<h2>{{postTitle}}</h2>
<span><h4>{{postContent}}</h4></span>
<button class="btn btn-success" (click)="loveIt()">Love it !</button>
<button class="btn btn-danger" (click)="dontLoveIt()">Don't love it !</button>
