<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIt> 0,
                'list-group-item-danger': postLoveIt < 0 }">
<app-post (postLoveItEvent)="countChange($event)"
          [postCreated]="postCreated"
          [postTitle]="postTitle"
          [postContent]="postContent" [postLoveIt]="postLoveIt"></app-post>
 </li>

