<ul class="list-group">
  <app-post-list-item *ngFor="let post of postsArray" [postTitle]="post.title" [postContent]="post.content"
                      [postCreated]="post.created_at" [postLoveIt]="post.loveIts"></app-post-list-item>
</ul>
